<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板语法</title>
    <script src="../lib/js/vue.global.prod.js"></script>
</head>
<body>
<div id="app">
    <!-- 插值 -->

        <!-- 1. 按普通文本插值：一般使用 Mustache语法（双大括号），在不指定 v-once指令 的情况下 默认 被持续绑定（Property->DOM） -->
        <!-- v-once指令：仅执行一次插值，不持续绑定。 -->
        <!-- 注意：v-once 作用在 父节点 时也会影响 子节点 的数据绑定。 -->
        <h1>{{title}}</h1>
        <div v-once>
            {{msg_1}}
            <p>{{msg_2}}</p>
        </div>


        <!-- 2. 使用 JavaScript 表达式：对于所有的数据绑定，Vue.js 都提供了完全的 JavaScript 表达式支持。 -->
        <!-- 注意：是支持表达式，且仅仅是单个语句，而不是语句！流程控制也不可以！ -->
        <p>{{javascript_test_bool ? '成功': '失败'}}</p>
        <p>{{javascript_test_str + ' Vue'}}</p>
        <p>{{msg_1.split('').reverse().join('')}}</p>


        <!-- 3. 指令：指令 (Directives) 是带有 v- 前缀的特殊 attribute。指令 attribute 的值预期是单个 JavaScript 表达式 (v-for 和 v-on 是例外情况)。 -->
        <!-- 作用：当表达式的值改变时，将其产生的连带影响，响应式地作用于 DOM。 -->
        <!-- 如：v-html, v-bind, v-if, v-on, v-for等 -->
        <p v-if="directives_test_bool_true">我能被看到。</p>
        <p v-if="directives_test_bool_false">我不能被看到。</p>

            <!-- 3.1. v-html指令:按HTML形式插值 -->
            <!-- 注意：请只对可信内容使用 HTML 插值，绝不要将用户提供的内容作为插值。 -->
            <p>使用Mustache语法(显示普通文本)：{{raw_html_syntax}}</p>
            <p>使用v-html指令（输出真正HTML形式）：<span v-html="raw_html_syntax"></span></p>

            <!-- 3.2. 指令参数(某些指令)：对于 某些指令，可以接收 一个“参数”，指令后以冒号表示。该类指令如：v-bind, v-on等-->

                <!-- 3.2.1 静态参数：将HTML元素的Attribute名作为参数，并将其 Value 与 应用实例Property值绑定。 -->
                    <!-- 3.2.1.1 v-bind指令:插入HTML元素的Attribute（Property与HTML Attribute绑定）。如果绑定的值是 null 或 undefined，那么该 attribute 将不会被包含在渲染的元素上。空字符也算有效值。-->
                    <!-- 注意：Mustache 语法不能在 HTML attribute 中使用，然而，可以使用 v-bind 指令 -->
                    <p v-bind:id="html_test_id" v-bind:width="html_test_width" v-bind:style="html_test_style">看我ID和Style，以及是否有width属性</p>

                <!-- 3.2.2 动态参数： 参数名由javascript表达式生成。javascript表达式 用中括号括起来。-->
                <!-- 实例 -->
                <p><a v-bind:[dynamic_param_test_name]="dynamic_param_test_value">我是动态参数提供的超链接a标签。</a></p>

            <!-- 3.3. 指令修饰符：以半角句号 . 指明的特殊后缀，用于指出一个指令应该以特殊方式绑定。-->
            <!-- 如：.prevent指令修饰符（阻止阻止事件默认行为），其他修饰符请查阅文档。 -->
            <form action="https://www.lking.icu" method="get" v-on:submit.prevent="onSubmit">
                <input type="submit" value="指令修饰符提交按钮（已阻止默认事件行为）">
            </form>

            <!-- 3.4. 指令缩写：Vue 为 v-bind 和 v-on 这两个最常用的指令，提供了特定简写。-->
            <p :style="html_test_style">我使用了缩写的v-bind指令（静态指令参数）</p>
            <p :[dynamic_param_test_name_style]="dynamic_param_test_value_style">我使用了缩写的v-bind指令（动态指令参数）</p>
            <!-- 注意：v-on指令在缩写时不再有冒号。 -->
            <p><button @click="test_click">我使用了缩写的v-on指令（静态指令参数）</button></p>
            <p><button @[dynamic_param_test_name_click]="test_click">我使用了缩写的v-on指令（动态指令参数）</button></p>
        <!-- 4. 注意事项 -->
            <!-- 4.1. 动态参数预期会求出一个 字符串，null 例外。这个特殊的 null 值可以用于显式地移除绑定。任何其它非字符串类型的值都将会触发一个警告。 -->
            <!-- 4.2. 动态参数表达式有一些语法约束，因为某些字符，如空格和引号，放在 HTML attribute 名里是无效的。变通的办法是使用 没有空格或引号的表达式，或用 计算属性 替代这种复杂表达式。 -->
                <!-- 这会触发一个编译警告 -->
                <!--
                    <a v-bind:['foo' + bar]="value"> ... </a>
                -->
            <!-- 4.3. 在 DOM 中使用 模板 时 (直接在一个 HTML 文件里撰写模板)，还需要避免使用大写字符来命名 键名 ，因为浏览器会把 attribute 名全部强制转为小写。 -->
                <!--
                在 DOM 中使用模板时这段代码会被转换为 `v-bind:[someattr]`。
                除非在实例中有一个名为“someattr”的 property，否则代码不会工作。
                <a v-bind:[someAttr]="value"> ... </a>
                -->
            <!-- 4.4. 模板表达式都被放在沙盒中，只能访问一个受限的全局变量列表，如 Math 和 Date。你不应该在模板表达式中试图访问用户定义的全局变量。-->

</div>

<script>
    // 创建应用实例
    const app = Vue.createApp({
        /* 配置选项 */
        data(){
            // 自定义Property
            return {
                title: "模板语法",
                msg_1: "Hello Vue！",
                msg_2: "Hello Word！",
                raw_html_syntax: "<img width='300px' src='../lib/img/avatar.jpg'/>",
                html_test_id: "myID",
                html_test_style: "color: blue;",
                //html_test_width: "300",
                javascript_test_str: "Hello",
                directives_test_bool_true: true,
                directives_test_bool_false: false,
                dynamic_param_test_name_href: "href",
                dynamic_param_test_value_href: "https://www.lking.icu",
                dynamic_param_test_name_style: "style",
                dynamic_param_test_value_style: "color: red;",
                dynamic_param_test_name_click: "click"

            }
        },
        methods: {
                test_click() {
                    alert('我被点击了！');
                }

        }
    });
    // 将应用实例挂载至DOM，返回 组件实例
    const app_view_model = app.mount('#app');
</script>
</body>
</html>